body{
	margin: 0px;
}
header{
	width: 100%;
}
.container{
	width: 1024px;
	margin: 0px auto;
}
img {
	width: 100%;
}

/* this is for header*/
.head{
	width: 100%;
	background-color: #818D83;
	color: #FFFFFF;
	overflow: hidden;
}
.contact img{
	margin:0px;
	width: 25px;
	height: 25px;
	color: #FFFFFF;
	float: left;
}
.contact .email img{
	margin-left: 210px;
	margin-top: 3px;
}
.contact .tel img{
	margin-right: 10px;
	margin-top: 2px;
	margin-left: -30px;
}
.head .tel {
	width: 30%;
	float: left;
}
.head .email{
	width: 50%;
	float: right;
	text-align: right;
}
.head .contact p{
	font-size: 16px;
	margin: 10px 0px;
	line-height: 30px;
}
 /* this is for logo and info text*/

.both{
	border-style: solid;
	border-color: gray;
	border-radius: 15px;
	margin:2px;
	padding: 0px;
	height: 80px;
}
.both .logo{
	margin: 0px;
	padding: 0px;
}
.both .logo .logo_img{
	padding: 0px;
	margin: 0px;
}
.both .logo .logo_img img{
	width: 150px;
	float: left;
	border-style: solid;
	border-radius: 11px;
	border-color:gray;
	border-width: 3px;
	margin:0px;
	padding: 0px;

}
.both .info{
	float: right;
	color: blueviolet;
	font-size: 100%;
	padding-right: 20px;
}

/* this are for navigation */
.navigation{
	width: 100%;
}
.head_nav{
	width: 100%;
}

.head_nav .nav{
	background-color: gray;
	width: 100%;
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 40px;
}
.nav li{
	float: left;
	margin: 10px 34px;
	display: block;
}
.nav li a{
	color: #FFFFFF;
	text-decoration: inherit;
	font-weight: bold;
	font-size: 14px;
}
.nav img{
	margin: 0px 0px 0px 0px;
}
.nav li a:hover{
	color:blue;
	text-decoration: underline;
}

/* drop down effect*/

.dropdown {
  display: block;
  margin: 0px;
  padding: 0px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 270px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 0px;
  min-height: 5px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.inner{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#profile{
	width: 32%;
	height: auto;
	margin: 0px 0px 0px 77px;
	border-style: solid;
	border-width: 2px;
	padding: 0px;
	border-radius: 4px;
}
#profile_heading{
	font-size:20px;
	color: blue;
	margin: 0px;
	padding: 0px;
}
.dropdown-content p{
	margin:0px;
	padding: 0px;
	text-align: justify;
}
.tab {
  padding-left: 25px;
}
.inner img{
	margin: -9px 0px 0px 0px;
	padding: 9px;
	width: 20px;
	height: auto;
	float: left;
}
.dropdown li{
	margin: 0px;
	padding: 0px;
	float: left;
}
/* this are for main content*/

main{
	width: 100%;
}
main .main_visual{
	width: 100%;
	overflow: hidden;
	position: relative;
}

.main_visual .main_visual_img{
	width: 100%;
	position: relative;
	margin: 3px 0px;
}
.main_visual .main_visual_content{
	width: 344px;
	position: absolute;
	top: 100px;
	left: 233px
}
.main_visual_content .main_visual_text{
	font-size: 57px;
	line-height: 77px;
	margin: 0px;
	color: #1A3399;
	text-shadow: 1px -4px 3px #000000A5;
}
.main_visual_content .main_visual_link{
	color: blue;
	text-decoration: none;
	background: lightgray;
	padding: 9px 20px 8px 19px;
	display: block;
	width: 82px;
	text-align: center;
	font-size: 16px;
	margin-left: 9px;
	border-style: solid;
	border-color: #585550;
	border-radius: 7px;
	border-width: 2px;
}
.main_visual_content a:hover{
	color: #000000;
	font-weight: bold;
}
.main_visual_content .main_visual_text:hover{
	font-size: 65px;
	font-color:#3A3399;;
}

/* this are for main content element*/
/* this are for video and what is electronics text*/

.main_content{
	margin: 0px;
	padding: 0px;
}
.main_content .content_ttl {
	background-color: gray;
	font-size: 18px;
	padding: 5px 5px 5px 5px;
	margin: 0px;
	text-align: center;
	color: white;
}

.main_content .content_element{
	width: 100%;
	margin:6px 0px;
	padding: 0px;
	overflow: hidden;
}
.content_element li{
	width: 50%;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.content_element video{
	width: 100%;
	height: 100%;
	margin: 0px 0px -30px 0px;
	float: left;
	border:2px solid #98D1E0;
	border-radius: 3px;
}
.content_element .element_ttl {
	font-size: 20px;
	text-decoration: underline;
	color: blue;
	font-weight: normal;
	text-align: left;
}
.content_element li:nth-child(odd){
	float: left;
}
.content_element li:nth-child(even){
	float: right;
	
}

.content_element li .element_img{
	width: 66%;
	margin: 1px 10px 0px 8px;
	float: left;
	border: 2px solid #98D1E4;
	border-radius: 3px;
}

.element_content .element_txt{
	font-size: 13px;
	color: #005158;
	margin: 0px;
	text-align: left;
}

/* this are list for the middle that contain contect elements*/

.middle li{
	width: 50%;
	list-style: none;
	margin: 0px -10px 20px 0px;
	padding: 0px;
}
.middle video{
	width: 100%;
	height: 100%;
	margin: 0px 0px -30px 0px;
	float: left;
	border:2px solid #98D1E0;
	border-radius: 3px;
}
.middle .element_ttl {
	font-size: 16px;
	text-decoration: underline;
	color: blue;
	font-weight: normal;
	text-align: left;
	line-height: 20px;
}
.middle li:nth-child(odd){
	float: left;

}
.middle li:nth-child(even){
	float: right;
	
}

.middle li .element_img{
	width: 66%;
	margin:1px 10px 0px 0px;
	padding:0px;
	float: left;
	border: 2px solid #98D1E4;
	border-radius: 3px;
}

.middle .element_txt{
	font-size: 13px;
	color: #005158;
	margin: 0px;
	text-align: left;
	overflow: hidden;
}
.middle {
	margin: 0px;
	padding: 0px;
}
.element{
	margin: 0px;
	padding: 0px;
}

/*Next and Previous button design*/

.next{
	float: right;
	text-decoration: none;
	background-color: #455EF5;
	padding: 10px;
	width: 95px;
	text-align: center;
	color: white;
}
.previous{
	float: left;
	text-decoration: none;
	background-color: #455EF5;
	padding: 10px;
	width: 100px;
	text-align: center;
	color: white;
}
.main_content a:hover{
	color: black;
}
/*content port*/
main .content_port{
	width: 100%;
	overflow: hidden;
}
.content_port .content_ttl{
	background-color: gray;
	font-size: 26px;
	padding: 15px;
	margin: 10px 0px;
	text-align: left;
	line-height: 15px;
	color: white;

}
.content_port .port_element{
	width: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.port_element li{
	width: 22%;
	float: left;
	margin: 0px 0px 0px 30px;
}
.port_element li .port_element_img{
	width: 100%;
	margin: 0px 0px 10px -15px;
	border: 2px solid #98D1E4;
}
.fig_but{
	margin: 0px;
	padding: 0px;
}

.fig_but a{
	display:block;
	width: 150px; 
	height: 34px;
	background-color: #455EF5;
	margin: 0px 0px 0px -14px;
	text-align: center;
	text-decoration: none;
	padding: 6px 0px 0px 0px;
	color: white;
}

.fig_but a:hover{
	color: black;
}

.content_ttl .thank{
	font-size: 17px;
	font-weight: normal;
}


/* This are for footer section*/

footer{
	widows: 100%;
}
footer .social_content{
	width: 100%;
	background-color: #F4F4F4;
	overflow: hidden;
}
.social_text{
	width: 70%;
	float: left;
	margin: 25px 0px 25px 0px;
	padding: 0px;
}
.social_icon{
	width: 30%;
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.social_text p{
	font-size: 14px;
	color: #5D5D5D;
}
.social_icon li{
	float: left;
	margin: 0px 7px;
}
.social_icon li .social_img{
	width: 45px;
	height: auto;
	margin: 38px 0px 25px 0px;
	padding: 0px;
	
}
.social_icon .social_img img:hover{
	border-style: solid;
	border-radius: 11px;
	border-width: 3px;
	width: 41px;
	border-color:#455EF5;
}

/* This are for copy right section*/
footer .copyright{
	widows: 100%;
	background-color: #818D83;
	overflow: hidden;
}
.copyright .footer_nav{
	width: 70%;
	float: left;
	margin: 28px 0px 0px 22px;
	padding: 0px;
	list-style: none;
	font-size: 12px;
	color: #5D5D5D;
}
.footer_nav li{
	float: left;
	margin: 0px 3px 0px 0px;
	padding: 0px;
}
.footer_nav li a{
	color: white;
	text-decoration: none;
	padding: 0 6px;
	border-right: 1px solid white;
	display: block;
}
.footer_nav .copyright{
	margin-top: 20px;
	color: white;
}

.footer_logo{
	width: 30%;
	float: left;
}
.footer_logo .footer_logo_img{
	width: 35%;
	height: auto;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: right;
	
}

.copyright .footer_logo img{
	width: 150px;
	border-style: solid;
	border-radius: 11px;
	border-color:gray;
	border-width: 3px;
	margin:0px;
	padding: 0px;

}